@font-face {
	font-family: 'KeepCalm';
	src: url('../fonts/KeepCalm-Medium.eot');
	src: url('../fonts/KeepCalm-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KeepCalm-Medium.woff') format('woff'),
		url('../fonts/KeepCalm-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
