*{
    margin: 0;
    padding: 0;
}
body{
    background: url('../img/body_background.png') no-repeat;
    background-size: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #DDDDDA;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row-spaced{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
}

/* ==========================================================================
   HEADER
   ========================================================================== */
.acp{
    background: #000;
    position: absolute;
    right: 3%;
    top: 1%;
}
.acp a{
    color: #888;
}
.banner{
    margin: 0 0 0 3%;
}
nav li {
    position: relative;
    width: 100%;
}
li img {
    position:absolute;
    top:0;
    left:0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
li:hover .front {
    opacity: 0;
}


/* ==========================================================================
   DISPLAY LIST
   ========================================================================== */

.content {
    margin: 300px 20% 300px 20%;
}
.showListHeader {
    padding: 5px 0 5px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    font-size: 30px;
    color: white;

    background: #4c565b;
background: -webkit-linear-gradient(#4c565b 5%, #668399 91%);
background: -o-linear-gradient(#4c565b 5%, #668399 91%);
background: linear-gradient(#4c565b 5%, #668399 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668399', endColorstr='#4c565b',GradientType=0 );
}

.showListContent {
    
}

.row-list {
    background-color: white;
    height: 40px;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.row-list:nth-child(odd) {
    background-color: #dedede;
}

.showListFooter {
    height: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background: #668399;
background: -webkit-linear-gradient(#668399 11%, #4c565b 91%);
background: -o-linear-gradient(#668399 11%, #4c565b 91%);
background: linear-gradient(#668399 11%, #4c565b 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#668399', endColorstr='#4c565b',GradientType=0 );
}